<% sorted = current_user.user_documents.order('due_date ASC')%>
<div class="center-content">
  <strong>Recently paid bills</strong>
  <%if (current_user.user_documents.where(state: 1).count == 0)%>
    <%= "You haven't paid any bills recently" %>
  <% end %>
  <% sorted.first(5).each do |user_document| %>
    <% if user_document.state %>
      <%= user_document.title %> Bill: <%= user_document.due_date %>
      <%= simple_form_for(user_document, remote: true)do |f| %>
        <%= f.label "Paid" %>
        <%= f.check_box :state, :input_html => {"data-remote" => true, "data-url" => "/update", "data-type" => :json}
%>
      <% end %>
    <% end %>
  <% end %>
</div>