<div class="primary-wrapper">
  <div class="container">
    <div class="row profile">

      <div class="col-xs-12 col-md-3">
        <div class="user-card">
          <div class="user-card__header">
            <% unless current_user.photo.url.nil? %>
              <%= cl_image_tag current_user.photo, class: "avatar" %>
            <% else %>
              <%= image_tag 'avatar.png', class: "avatar" %> 
            <% end %>
          </div>
            <div class="user-card__body center-content">
              <%= link_to 'Edit profile', edit_user_registration_path(current_user), class: "user-card__edit tag" %>
              <div class="user-card__heading">
                <%= current_user.first_name %> <%= current_user.last_name %>
              </div>
              <div class="user-card__info">
                <div class="user-card__title">
                    Total bills uploaded
                </div>
                <div class="user-card__count">
                  <%= current_user.user_documents.count %>
                </div>
              </div>
              <%= simple_form_for(@user_document) do |f| %>
                <%= f.input :photo, required: true, label: 'Upload Bill'%>
                <%= f.input :photo_cache, as: :hidden %>
                <%= f.submit "Check Document", id: "upload-button", class: "button is-inverted" %>
              <% end %>
            </div>
          </div>  
      </div>

      <div class="col-xs-12 col-md-7 margin-top-mobile">
        <% sorted = current_user.user_documents.order('due_date ASC')%>
        <div class="due-card">
          <% sorted.first(3).each do |user_document| %>
            <% unless user_document.state %>
              <div class="due-card__title">
                Bill Type
              </div>
              <div class="due-card__subtitle">
                <%= user_document.document.company_name %> 
              </div>
              <div class="due-card__title">
                Due Date
              </div>
              <div class="due-card__subtitle">
                <%= user_document.due_date.strftime("%b %d %Y") %>
              </div>
              <div class="due-card__title">
                Days Remaining
              </div>
              <div class="due-card__subtitle">
                <%= (user_document.due_date - Date.today).to_i %> 
              </div>
              <%= simple_form_for(user_document) do |f| %>
                <%= f.label "Paid" %>
                <%= f.check_box :state, { onchange: 'this.form.submit()' } %>
              <% end %>
            <% end %>
          <% end %>
        </div>  
      </div>

      <div class="col-xs-12">
              <div class="col-md-12">
        <div class="card-border">
            <div class="center-content due-date-background-blue">
              <strong>Recently paid bils:</strong>
            </div>
            <%if (current_user.user_documents.where(state: 1).count == 0)%>
            <%= "You haven't paid any bills recently" %>
            <% end %>
            <% sorted.first(3).each do |user_document| %>
            <% if user_document.state %>
            <%= user_document.title %> Bill: <%= user_document.due_date %>
            <%= simple_form_for(user_document) do |f| %>
            <%= f.label "Paid" %>
            <%= f.check_box :state, { onchange: 'this.form.submit()' } %>
            <% end %>
            <% end %>
            <% end %>
        </div>
      </div>
      </div>

      <div class="col-xs-12">
        <div class="filter">
          <%= form_tag profile_path, method: :get, class: "filter__form" do |f| %>
            <%= select_tag "sort_by", options_for_select(@sort_by, params[:sort_by]) %>
            <%= select_tag "category", options_for_select(@categories, params[:category]) %>
            <%= submit_tag 'Filter', class: "button is-inverted is-small" %>
          <% end %>

          <div class="bills-list">
            <% @user_documents.each do |doc| %>
              <li>
                <% if @collection_type == 'due date' %>
                  <%= doc.due_date %>
                <% elsif @collection_type == 'most expensive' %>
                  <%= doc.current_due_amount %>
                <% elsif @collection_type == 'least expensive' %>
                  <%= doc.current_due_amount %>
                <% else %>
                  <%= doc.document.company_name %>
                  <%= doc.due_date%>
                  <%= doc.current_due_amount %>
                <% end %>
              </li>
            <% end %>
          </div>
      </div>
    </div>
      
    </div>
  </div>
   
