<div class="primary-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="user-card">
          <%= link_to 'Edit profile', edit_user_registration_path(current_user), class: "user-card__edit tag" %>
          <% unless current_user.photo.url.nil? %>
          <%= cl_image_tag current_user.photo, class: "avatar" %>
          <% else %>
          <%= image_tag 'avatar.png', class: "avatar" %> <% end %>
          <div class="user-card__title">
            <%= current_user.first_name %> <%= current_user.last_name %>
            <%= current_user.address %> <%= current_user.email %>
            <%= current_user.user_documents.count %>
            <div class="card-profile-infos">
              <div style="height: 100%;">
                <div class="edit-button">
                  <div>
                    <div>
                      <h2>
                        Username:
                      </h2>
                      <%= @user.username %>
                    </div>
                    <div>
                      <h2>
                        Address:
                      </h2>
                      <%= @user.address %>
                    </div>
                  </div>
                  <div>
                    <% if current_user == @user %> <%= button_to "edit profile",
                      edit_user_registration_path, method: "get" %> <% end %>
                    </div>
                  </div>
                  <div>
                    <h2>
                      Email:
                    </h2>
                    <%= @user.email %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= simple_form_for(@user_document) do |f| %>
          <%= f.input :photo, required: true, label: 'Upload Bill'%>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Check Document", id: "upload-button", class: "button is-inverted" %>
          <% end %>
        </div>
        <div class="col-sm-12 col-md-7 margin-top-mobile">

        </div>

        <div class="user-card">
          <div class="document__image">
            <% @user_documents.each do |doc| %>
            <%= cl_image_tag doc.photo, :width => 300, :crop => "fit" %>
            <% end %>
          </div>
          <% sorted = current_user.user_documents.order('due_date ASC')%>
          <% sorted.first(3).each do |user_document| %>
          <% unless user_document.state %></p>
          <p> <strong><%= user_document.title %> Bill: </strong> <%= user_document.due_date.strftime("%b %d %Y") %></p>
          <p><%= (user_document.due_date - Date.today).to_i %> days remaining</p>
          <%= simple_form_for(user_document) do |f| %>
          <%= f.label "Paid" %>
          <%= f.check_box :state, { onchange: 'this.form.submit()' } %>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>

      <div class="card-border">
        <div class="center-content due-date-background-blue">
          <strong>Recently paid bils:</strong>
        </div>
        <%if (current_user.user_documents.where(state: 1).count == 0)%>
        <%= "You haven't paid any bills recently" %>
        <% end %>
        <% sorted.first(3).each do |user_document| %>
        <% if user_document.state %></p>
        <p> <strong><%= user_document.title %> Bill: </strong> <%= user_document.due_date %></p>
        <%= simple_form_for(user_document) do |f| %>
        <%= f.label "Paid" %>
        <%= f.check_box :state, { onchange: 'this.form.submit()' } %>
        <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="center-content" style="margin-bottom: 60px;">
      <div>
        <%= button_to "user documents", user_documents_path, method: "get" %>
      </div>
    </div>
  </div>
</div>



</div>
</div>
</div>
</div>
<div class="primary-wrapper" style="background: white;">
  <div class="container">
    <div class="row">
    <% current_user.documents.each do |doc| %>
      <div class="col-md-6 col-xs-10">
        <h3><%= doc.jp_name %></h3>
        <h3><%= doc.company_name %></h3>
        <div class="card payment-card">
          <div class="card-body">
            <div class="average">
              <h4>Monthly average: </h4>
            </div>
            <div class="most-expensive">
              <h4>Most expensive:</h4>
            </div>
            <div class="least-expensive">
              <h4>Least expensive:</h4>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="primary-wrapper">
    <h1 class="center-content">
      All documents
    </h1>
    <button class="button">Filter</button>
    <button class="button">All</button>
    <button class="button">Electricity</button>
    <button class="button">Water</button>
    <button class="button">Gas</button>
  </div>
</div>

<%= form_tag profile_path, method: :get do |f| %>
  <%= select_tag "sort_by", options_for_select(["due date", "most expensive", "least expensive"], params[:sort_by]) %>
  <%= select_tag "category", options_for_select(@categories, params[:category]) %>
  <%= submit_tag 'apply' %>
<% end %>


<ul>
  <% @user_documents.each do |doc| %>
  <li>
    <% if @collection_type == 'due date' %>
      <%= doc.due_date %>
    <% elsif @collection_type == 'most expensive' %>
      <%= doc.current_due_amount %>
    <% elsif @collection_type == 'least expensive' %>
      <%= doc.current_due_amount %>
    <% else %>
      <%= doc.document.company_name %>
      <%= doc.due_date%>
      <%= doc.current_due_amount %>
    <% end %>
  </li>
  <% end %>
</ul>

