<div class="primary-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="user-card">
          <%= link_to 'Edit profile', edit_user_registration_path(current_user), class: "user-card__edit tag" %>
          <% unless current_user.photo.url.nil? %>
          <%= cl_image_tag current_user.photo, class: "avatar" %>
          <% else %>
          <%= image_tag 'avatar.png', class: "avatar" %> <% end %>
          <div class="user-card__title">
            <%= current_user.first_name %> <%= current_user.last_name %>
            <%= current_user.address %> <%= current_user.email %>
            <%= current_user.user_documents.count %>
          </div>
          <%= simple_form_for(@user_document) do |f| %>
          <%= f.input :photo, required: true, label: 'Upload Bill'%>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Check Document", id: "upload-button", class: "button is-inverted" %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 margin-top-mobile">
        <div class="user-card">
          <div class="document__image">
            <% @user_documents.each do |doc| %>
            <%= cl_image_tag doc.photo, :width => 300, :crop => "fit" %>
            <% end %>
          </div>
          <div class="center-content">
            <strong>Your next three Due Dates:</strong>
            <div class="center-content">
              <%= @user_documents.first(3) unless @user_documents.count.zero? %>
            </div>
            <div class="center-content" style="margin-bottom: 60px;">
              <div>
                <%= button_to "user documents", user_documents_path, method: "get" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="primary-wrapper" style="background: white;">
  <div class="container">
    <div class="row">
    <% current_user.documents.each do |doc| %>
      <div class="col-md-6 col-xs-10">
        <h3><%= doc.jp_name %></h3>
        <h3><%= doc.company_name %></h3>
        <div class="card payment-card">
          <div class="card-body">
            <div class="average">
            <h4>Monthly average: </h4>
            </div>
            <div class="most-expensive">
              <h4>Most expensive:</h4>
            </div>
            <div class="least-expensive">
              <h4>Least expensive:</h4>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="primary-wrapper">
    <h1 class="center-content">
      All documents
    </h1>
    <button class="button">Filter</button>
    <button class="button">All</button>
    <button class="button">Electricity</button>
    <button class="button">Water</button>
    <button class="button">Gas</button>
  </div>
  </div>
