
<div class="container">
  <h1>My Documents</h1>
  <p>Browse through all your uploaded documents</p>
</div>

<div class="filter">
  <%= form_tag user_documents_path, method: :get, class: "filter__form" do |f| %>
  <%= select_tag "sort_by", options_for_select(@sort_by, params[:sort_by]), id: "sort-by-select" %>
  <%= select_tag "category", options_for_select(@categories, params[:category]), id: "category-select" %>
  <% end %>
</div>



<div class="primary-wrapper">
  <div class="container">
    <div class="row">
      <% @user_documents.each do |doc| %>
      <div class="col-xs-12 col-md-4">
        <div class="card card-max-height" style="position: relative;">
          <%= link_to "", user_document_path(doc), class: "document__link", method: :get %>
          <div style="position: absolute; top: -5px; right: -5px;">
            <%= link_to user_document_path(doc), method: :delete, class: "btn btn-danger btn-circle", style: "border-radius: 0 0 0 20px;" do %>
            <i class="fas fa-trash"></i>
            <% end %>
          </div>
          <div class="result">
            <ul style="list-style: none;">
              <li>
                <p class="center-content"><strong><%= doc.document.nil? ? "Unrecognizable Bill, Sorry" :
                doc.document.company_name %></strong></p>
              </li>
              <li>
                <p class="center-content">
                  Amount: <strong><%= doc.current_due_amount %></strong> 円
                </p>
              </li>
              <li>
                <p class="center-content">
                  Due: <strong><%= doc.due_date %></strong>
                </p>
              </li>
            </ul>
          </div>
          <div class="result-photo">
            <%= cl_image_tag doc.photo.url, :width => 100, :crop => "fit" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  const sort_by_change = document.querySelector("#sort-by-select");
  const category_change = document.querySelector("#category-select");

  sort_by_change.addEventListener('change', (event) => {
    document.querySelector(".filter__form").submit();
  })
  category_change.addEventListener('change', (event) => {
    document.querySelector(".filter__form").submit();
  })
</script>
