<div class="container">
  <% unless current_user.first_name.nil? %>
    <h1>
      <%= current_user.first_name %> <%= current_user.last_name %>'s Documents
    </h1>
  <% else %>
    <h1>My Documents</h1>
  <% end %>
  <p>Browse through all your uploaded documents</p>
</div>

<div class="primary-wrapper">
  <div class="container">
    <div class="row">
        <% current_user.user_documents.each do |doc| %>
          <div class="col-sm-12 col-md-4 margin-top-mobile">
            <div class="document">
              <%= link_to user_document_path(doc), method: :delete, class: "delete-user-document center-content" do %>
                <i class="fas fa-trash"></i>
              <% end %>
              <%= link_to "", user_document_path(doc), class: "document__link", method: :get %>
              <div class="document__header">
                <h4 class="document__title">
                  <%= doc.document.nil? ? "Unrecognizable Bill, Sorry" :
                  doc.document.company_name %>
                </h4>
                <p class="document__status">
                  <% if doc.state == true %>
                  <span class="tag paid"
                    ><i class="fas fa-check"></i> Paid</span
                  >
                  <% else %>
                  <span class=" tag unpaid"
                    ><i class="fas fa-exclamation"></i> Unpaid</span
                  >
                  <% end %>
                </p>
              </div>
              <div class="document__image">
                <%= cl_image_tag doc.photo.url, :width => 600, :crop => "fill", class: "height-change" %>
              </div>
              <div class="document__body">
                <div class="document__data">
                  <h5>Due On</h5>
                  <p><%= doc.due_date %></p>
                </div>
                <div class="document__data">
                  <h5>Amount Due</h5>
                  <p class="document__amount">
                    <%= doc.current_due_amount %>円
                  </p>
                </div>
              </div>
            </div>
             </div>
            <% end %>


    </div>
  </div>
</div>
