<div class="primary-wrapper">


  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 white">
        <div class="center-content user-document-image">
          <h2>This is your <%= @user_document.title %> bill, </h2>
          <%= cl_image_tag @user_document.photo, height: 400, width: 500, crop: :fill %>
        </div>


<div class="fifty-px-padding">
        <div class="user-document-info">

          <div>
            <p class = "title">Due date</p>
          </div>
          <div>
            <p>Remaining Balance</p>
          </div>
          <div>
            <p>Due Amount</p>
          </div>

        </div>

        <div class="user-document-info">

          <div>
            <p><%= @user_document.due_date %></p>
          </div>
          <div>
            <p><%= @user_document.remaining_balance %></p>
          </div>
          <div>
            <p><%= @user_document.current_due_amount %>円</p>
          </div>

        </div>
</div>

        <div style="margin-bottom: 60px;">
          <% if @user_document.reminder_date.nil? %>
          <div>
            <%= simple_form_for @user_document do |f| %>
            <%= f.input :reminder_date %>
            <%= f.submit "Remind me!", class: "button" %>
            <% end %>
          </div>
          <% else %>
          <p>Remind me to pay on <%= @user_document.reminder_date %></p>
          <div class="col-md-4">
            <%= simple_form_for @user_document do |f| %>
            <%= f.submit "Change reminder date", class: "button" %>
            <%= f.input :reminder_date %>
            <% end %>
          </div>
          <% end %>
          <div class="fifty-px-padding center-content">
          <%= button_to "sign out", destroy_user_session_path, method: "delete" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


