<nav class="navigation" class="">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="navigation__left">
      <a href="/" id="site-logo">
        <%= image_tag 'bluelogo.png', class: "logo" %>
      </a>
    </div>

    <div class="navigation__right">
      <% if user_signed_in? %>
        <div><%= link_to "Profile", profile_path %></div>
        <div><%= link_to "My Documents", user_documents_path(current_user)%></div>
        <div><%= link_to "Log out", destroy_user_session_path, method: :delete %></div>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
    <div class="navigation__hamburger">
      <i class="fas fa-bars"></i>
    </div>
    <div class="navigation__drop">
        <% if user_signed_in? %>
          <div><%= link_to "Profile", profile_path(current_user)%></div>
          <div><%= link_to "My Documents", user_documents_path(current_user)%></div>
          <div><%= link_to "Log out", destroy_user_session_path, method: :delete %></div>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </div>
  </div>
</nav>
