<% content_for(:navbar_class, "navbar-home")%>
<div class="banner">
  <div class="banner__header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 is-paddingless">
          <h1 class="banner__heading">
            <%= image_tag 'logo.png', class: "logo" %>bills
          </h1>
          <div class="card">
            <div class="result">
              <ul style="list-style: none;">
                <li><p><%= image_tag 'Water.png', class: "icon" %> <strong>Water bill</strong></p></li>
                <li>
                  <p><strong>16,026 yen</strong></p>
                </li>
                <li>
                  <p>Due: <strong>May 18th</strong></p>
                </li>
              </ul>
            </div>
            <div class="result-photo">
              <%= image_tag 'pic_water.png' %>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <h2 class="banner__slogan">
            Take the guesswork out of Japanese bills
          </h2>
          <p class="banner__description">
            Understand and keep track of your monthly bill spending with our
            easy bill recognition
          </p>
          <%= link_to 'Try now', new_user_registration_path, class: 'try-now' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row padding-top-bottom">
    <div class="col-xs-12">
      <h1>
        Japanese bills can be hard to deal with. Let us help with:
      </h1>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 class="center-content">Recognition</h2>
      <div class="card">
        <%= link_to scan_info_path do %>
        <div class="card-body scan"></div>
        <% end %>
        <div class="card-footer">
          <p>
            Get all the information your need. Upload a photo of your Japanese
            bill and we'll translate it for you. We'll give you the most
            relevant information such as how much and when it's due.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h2 class="center-content">Tracking</h2>
      <div class="card">
        <%= link_to profile_path(current_user) do %>
        <div class="card-body track"></div>
        <% end %>
        <div class="card-footer">
          <p>
            Keep up to date with when your next bill is due with our tracking
            and notification system. Remembering to go to the convenience stores
            every month is a pain. Let us remember for you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
