<% content_for(:navbar_class, "navbar-home")%>
<div class="wrapper">
  <div class="banner">
    <div class="banner__header center-content">
      <h1 class="banner__heading">
        <%= image_tag 'logo.png', class: "logo" %>xpat unlocked
      </h1>
      <p class="banner__slogan">Need help with Japanese bills?</p>
      <a class="scroll-button center" href="#">
        <i aria-hidden="true" data-x-icon="" class="x-icon-angle-down"></i>
      </a>
    </div>
  </div>
  <section class="site-feature">
    <div class="container">
      <div class="card">
        <h2>1. Take a photo of a Japanese bill</h2>
      </div>
    </div>
  </section>
  <section class="site-feature colored">
    <div class="container">
      <div class="card">
        <h2>1. Take a photo of a Japanese bill</h2>
      </div>
    </div>
  </section>
  <section class="site-feature">
    <div class="container">
      <div class="card">
        <h2>1. Take a photo of a Japanese bill</h2>
      </div>
    </div>
  </section>

  <%= simple_form_for(@user_document) do |f| %>
  <!-- [...] -->
  <%= f.input :photo %> <%= f.input :photo_cache, as: :hidden %> <%= f.submit %>
  <% end %>
</div>
