<% content_for(:navbar_class, "navbar-home")%>
<div class="wrapper">
  <div class="banner">
    <div class="banner__header">
      <h1 class="banner__heading">
        <%= image_tag 'logo.png', class: "logo" %>xpat unlocked
      </h1>
      <p class="banner__slogan">Japanese bill recognition and tracking</p>
    </div>
  </div>
</div>

<div class="container site-introduction">
  <div class="site-introduction">
    <h1>We find bills in Japan to be frustratingly hard to read, understand and deal with</h1>
    <p>We have created this app for all the people out there who get frustrated at the bills they receive.
      Enabling you to gain independence from that Japanese speaking partner and friend.
    </p>
  </div>
  <div class="row">
  <div class="col-md-4 col-xs-10">
  <h3>Recognition</h3>
    <div class="card">
      <% if current_or_guest_user.username == "guest" %>
        <%= link_to scan_info_path do %>
        <div class="card-body scan">
            <div class="card-icon">
             <i class="material-icons">
                linked_camera
              </i>
            </div>
        </div>
        <% end %>
        <% else %>
         <%= link_to profile_path do %>
        <div class="card-body scan">
            <div class="card-icon">
             <i class="material-icons">
                linked_camera
              </i>
            </div>
        </div>
        <% end %>
      <% end %>
      <div class="card-footer">
        <p>Get all the information your need. Upload a photo of your Japanese bill and we'll translate it for you.
          We'll give you the most relevant information such as how much and when it's due.
        </p>
      </div>
    </div>
    </div>
    <div class="col-md-4 col-xs-10">
    <h3>Tracking</h3>
     <div class="card">
       <%= link_to user_documents_path do %>
      <div class="card-body track">
          <div class="card-icon">
            <%= image_tag 'Asset 50.png', class: "logo" %>
          </div>
      </div>
      <% end %>
      <div class="card-footer">
        <p>Keep up to date with when your next bill is due with our tracking and notification system.
          Remembering to go to the convenience stores every month is a pain. Let us remember for you.
        </p>
      </div>
    </div>
    </div>
    <div class="col-md-4 col-xs-10">
    <h3>Location</h3>
     <div class="card">
      <div class="card-body city-location">
        <div class="card-icon">
          <%= image_tag 'Asset 90.png', class: "logo" %>
        </div>
      </div>
      <div class="card-footer">
        <p>Need to register your address? or go down to the city hall? Don't know where it is? WE DO HEHEHEHEHEHEH
          HEHEHEHEHEHE
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
<%= console %>
